@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
}
.navbar {
    display: flex;
    align-items: center;
    background-color: hsl(210, 41%, 27%);
    justify-content: space-around;
} 

.navbar .logo {
    width: 100px;
}

.navbar .logo  img {
    width: 100%;
    padding: 10px 20px;
}
.navbar .links ul  {
    list-style: none;
    display: flex;
    }
.navbar .links ul  a {
text-decoration: none;
color: blanchedalmond;
margin: 0 10px;
font-size: 19px;
font-family: 'PT Sans Caption', sans-serif;
}
.navbar .links ul  a:hover {
    color: burlywood;
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .navbar {
        flex-direction: column;
    }
}

.container {
    margin: 10px 10px;
    display: flex;
  
   }
.container .left{
    background-color:gray;
    width: 60%;
   }
.container .left .title {
    color:dodgerblue;
    font-size: 20px;
    font-family: 'PT Sans Caption', sans-serif;
    padding:20px 20px;
}
.container .left .paragraph {
    font-size: 15px;
    font-family:cursive;
}
.container .right {
    width: 40%;
    padding: 30px;
}
.container .right img {
    width: 100%;
}


 



